<h1>User Test Sessions</h1>

<table>
	<tr><td>User Login ID:</td><td><%= @user.login_id %></td></tr>
	<tr><td>Name:</td><td><%= @user.full_name %></td></tr>
</table>

<h1>Test Sessions</h1>
<table>
	<tr>
		<th>Date</th>
		<th></th>
		<th></th>
	</tr>
	
	<% @sessions.each do |session_idx| %>
		<tr>
			<td><%= Trial.timestamp_by_session( session_idx ) %></td>
			<td><%= link_to "Table", sessions_admin_trials_path( :user_id => @user.id, :session => session_idx ) %></td>
			<td><%= link_to "CSV", sessions_csv_admin_trials_path( :user_id => @user.id, :session => session_idx ) %></td>
		</tr>
	<% end %>
</table>