<h1>Add New Study User</h1>

<%= form_for( @user, :url => admin_users_path ) do |f| %>
	<table>	
		<tr><td><%= f.label "First Name" %></td><td><%= text_field_tag "first_name" %></td></tr>
		<tr><td><%= f.label "Last Name" %></td><td><%= text_field_tag "last_name" %></td></tr>
		<tr><td></td><td><%= f.submit %></td></tr>
	</table>
<% end %>